* {
    font-family: 'Inconsolata', monospace;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 70%;
    max-width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    display: flex;
}

img {
    align-items: center;
}

p {
    line-height: 1.5;
}

div h3 {
    margin-top: -30px;
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    font-size: 15px;
    color: rgb(177, 177, 177);
}

div h2 {
    font-family: 'Bodoni Moda', serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}

.button-blog {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: solid;
    background-color: white;
    height: 30px;
    width: 80px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.button-blog:hover {
    background-color:rgb(243, 243, 243);
}

.button-blog:active {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    font-size: 12px;
}

.button-blog-select {
    width: 400px;
    max-width: 500px;
    height: 30px;
    transition-duration: 500ms;
    transition-property: width, height, font-size, box-shadow;
    cursor: pointer;
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}

.button-blog-select:hover {
    width: 402px;
    height: 32px;
    font-size: 14px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.button-blog-select:active {
    font-size: 13.5px;
    transition-duration: 0ms;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
}